.media {
  padding-top: 0.25%;
  background-blend-mode: darken;
  background-color: aqua;
  width: 10%;
  height: 10%;
  position: relative;
}
.border {
  border: solid;
  background-color: aqua;
}
.fullHeightCard {
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: aqua;

  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
}
.overlay {
  top: 40px;
  left: 20px;
  color: black;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.grid {
  display: "flex";
}
.details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
title {
  padding: 0 16px;
}
.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.edit {
  float: right;
}
