.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.or {
  color: #0056d2;
  margin-right: 20px;
}
.sign {
  display: flex;
  justify-content: space-between;
}
.signIn {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(103, 89, 246, 0.75);
  border-radius: 20px;
  text-align: center;
  gap: 20px;
}

.signInwg {
  padding: 30px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(103, 89, 246, 0.75);
  border-radius: 20px;
  text-align: center;
  gap: 20px;
}

.signUp {
  padding: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(103, 89, 246, 0.75);
  border-radius: 20px;
  text-align: center;
  gap: 20px;
}
